<div class="block-stats-greeting">
    <div class="statistics-section">
        <h4>{{#str}}statistics, block_statsgreeting{{/str}}</h4>
        <ul>
            <li>{{{courses_icon}}} {{#str}}courses_enrolled, block_statsgreeting{{/str}}: {{courses_enrolled}}</li>
            <li>{{{completion_icon}}} {{#str}}courses_completed, block_statsgreeting{{/str}}: {{courses_completed}}</li>
            <li>{{{activity_icon}}} {{#str}}activities_completed, block_statsgreeting{{/str}}: {{activities_completed}}</li>
            <li>{{{calendar_icon}}} {{#str}}activities_due, block_statsgreeting{{/str}}: {{activities_due}}</li>
        </ul>
    </div>
    <div class="timegreet-section">
        <h3>{{greeting}}</h3>
        <p>{{date}}</p>
    </div>
</div>
